body{
    margin: 0;
    padding: 0;
}
div{
    background-color: brown;
    width:40%;
    height:100vh;
    float: right;
}

.my_class{
        font-size:100px;
        text-align:center;
        display:block;
        color: white;

    }
    a{
        text-decoration: none;
        display: block;
        text-align: center;
        padding: 10px;
        margin:50px auto;
        border: 2px solid blue;
        border-radius: 10px;
        font-size: 20px;
        background-color: yellowgreen;

    }
    a:hover{
        background-color: orange;
        font-family: bold;
    }